// Your new color: here the primary color is a dark blue
$primary: #425cbb;
// $secondary
// $success
// $info
// $warning
// $danger
// $light
// $dark

@import 'bootstrap/scss/bootstrap';

// You can put your own SCSS here


.IronNavbar {
  margin-bottom: 20px;

  img {
    height: 30px;
  }
}

h1 {
  margin-bottom: 20px;
}

.container {
  max-width: 800px;
}